.div-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.411);
    width: 800px;
    height: 800px;
}

.div {
    width: 6.25%;
    box-sizing: border-box;
    height: 6.25%;
    border: 1px solid rgb(219, 75, 75);
}